
Section 4 - Simple Linear Regression/Simple_Linear_Regression/simple_linear_regression.R
Section 4 - Simple Linear Regression/Simple_Linear_Regression/Salary_Data.csv
Section 4 - Simple Linear Regression/Simple_Linear_Regression/simple_linear_regression.py
